/**
 * Wider tables
 */


@media all and (min-width: 900px) {
    table {
        width: 850px;
        max-width: 100%;
        margin-left: -50px;
    }
}

@media all and (min-width: 1000px) {
    table {
        width: 1000px;
        max-width: 100%;
        margin-left: -125px;
    }
}

@media all and (min-width: 1200px) {
    table {
        width: 1200px;
        max-width: 100%;
        margin-left: -225px;
    }
}

@media all and (max-width: 899px) {
    table {
        width: 100%;
    }
}