{{ if ($.Page.Scratch.Get "kg_include_codepen") "true" }}
<script async src="{{ .Site.Params.kg_shortcodes.codepen.script_src | default "https://production-assets.codepen.io/assets/embed/ei.js" }}"></script>
{{ end }}
{{ if ($.Page.Scratch.Get "kg_include_caniuse") "true" }}
<script src="{{ .Site.Params.kg_shortcodes.caniuse.script_src | default "https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js" }}"></script>
{{ end }}
{{ if ($.Page.Scratch.Get "kg_include_mastodon") "true" }}
<script async src="{{ .Site.Params.kg_shortcodes.mastodon.script_src | default "https://mastodon.social/embed.js" }}"></script>
{{ end }}